*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0caps;

}

body{
    font-family: 'Poppins', sans-serif;
    /* background-color: rgb(0, 255, 42); */
    background-image: url('../images/trip-bg.png');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    
    }

h1{
    text-align: left;
    color: rgb(128, 189, 239);
    font-size: 25px;
    margin-top: 25px;
}
h2{
    text-align: left;
    color: rgb(19, 167, 103);
    font-size: 25px;
    margin-top: 25px;
}
p{
    text-align: left;
    color: #1d1a1a;
    font-size: 20px;
    margin-top: 25px;
}
ul{
    text-align: left;
    color: orange;
    font-size: 20px;
    margin-top: 20px;
}
ol{
    text-align: left;
    color: rgba(118, 238, 202, 0.701);
    font-size: 20px;
    margin-top: 20px;
}label{
    display; inline-size: inherit;
    font-size: 18px;
    margin-bottom: 5px;
    color: #e71a1a;

}
button{
    background-color: #9d0606;
    color: white;
    padding: 1px 2px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 5%;
    font-size: 20px;
    border-radius: 150px;
}